@using CandidateTracker.Data
@model IEnumerable<Candidate>

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align:center">Declined Candidates</h3>
        <button class="btn btn-success">Toggle Notes</button>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th class="notes">Notes</th>

            </tr>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.FirstName</td>
                    <td>@c.LastName</td>
                    <td>@c.EmailAddress</td>
                    <td>@c.PhoneNumber</td>
                    <td class="notes">@c.Notes</td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Toggle.js"></script>
}